/* 판매 현황 페이지 스타일 */

/* 전체 레이아웃 */
.buy-container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
    gap: 40px;
}

/* 메인 컨텐츠 */
.buy-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.buy-main h2 {
    font-size: 24px;
    font-weight: bold;
}


/* 판매 현황 테이블 */
.buy-table {
    width: 100%;
    border-collapse: collapse;
}

.buy-table thead {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.buy-table th {
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 12px;
    text-align: center;
    border-bottom: 2px solid black;
}

.buy-table td {
    padding: 12px;
    text-align: center;
}

.buy-table th, .buy-table td {
    vertical-align: middle;
}

.buy-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.buy-table tbody tr {
    cursor: pointer;
}

/* 필터 섹션 */
.filter-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* 필터 버튼 배치 */
.filter-buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
}

.filter-btn {
    width: 45%;
    padding: 6px 12px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
    color: black;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}

.filter-btn.active {
    background-color: black;
    color: white;
}

/* 페이지네이션 */
.pagination {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

.pagination button {
    padding: 5px 10px;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
}

.pagination .active {
    background-color: black;
    color: white;
}
